.container-1, .container-2 , .container-3, .container-4, .container-5 {
    border: 1px solid black;
    width: 80%;   
    margin: 0 auto;
    text-align: left;
    border-collapse: collapse;
  
 }

 .container-3 {
   height: 170px;
   overflow-y: scroll;
 }

 .flex-box-container-1 {
    display: flex;
    /*border: 1px solid rgb(14, 190, 176);*/
    padding: 10px;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: space-around;  
 }

 .flex-box-container-2 {
   
  
   /*border: 5px solid green;*/
  /* border: 1px solid rgb(153, 41, 41);*/
   font-size:12px;
   display: flex;
   padding: 10px;
   flex-wrap: wrap;
   flex-direction:row;
   justify-content: space-around;  
}


.flex-box-container-2 div{

   /*border: 5px solid green;
   border: 3px solid red;*/
   padding: 0px;
   flex: 1;
   text-align: center;
   width: 50%;

}



 .flex-box-container-2 button{
    align-self: flex-end;
 }

 .flex-box-container-2 legend{

   /*color: red;*/
   text-align: left;
   font-size: 12;
   
}

img{
 margin: 10px;
 margin-right: 30px;
}

form {
   /*border: 3px solid blue;*/

}
 

fieldset {
   /*border: 3px solid green;*/
   text-align: left;

}

.flex-box-informacion label {
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   text-align: left;
   width: 350px;
   line-height: 26px;
   margin-bottom: 5px;
 }

/* .flex-box-informacion, .flex-box-resultados {
 border: 3px solid blue;
}*/


.flex-box-resultados label {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   text-align: right;
   width: 350px;
   line-height: 26px;
   margin-bottom: 5px;
 }
 

 input {
   height: 20px;
   display: flex;
   flex: 0 0 200px;
   margin-left: 10px;
 }

 select{
   height: 20px;
   flex: 0 0 200px;
   margin-left: 10px;
   width: 200px;
 }



table,  th,  td {

      border-collapse: collapse; /*propiedad recomendada, revisar*/
      width: 100%;
   
   
   
    }

   th,  td {
   
      
      border:    1px solid blue;
      background-color: rgb(212, 206, 206);
      font-size: 10;
      width: auto;
      
      
       }

       th {
   
      
         border:    1px solid blue;
         background-color: gray;
         font-size: 10;
         width: auto;
         position:sticky;
         top:0;
         
         
          }

    .alarma{
      color: red;
      font-size: 16;
      font-family: Verdana, Geneva, Tahoma, sans-serif ;
      font-style: italic;

    }

    #resultadosDimensionamiento{
      text-align: left;
    }

